<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/addBookPost}" th:object="${book}">
    <label for="name">Введите название книги:</label>
    <input type="text" th:field="*{title}" id="name">
    <br/>
    <label for="author">Введите автора:</label>
    <input type="text" th:field="*{author}" id="author">
    <br/>
    <label for="birth_year">Введите год создания книги:</label>
    <input type="text" th:field="*{year}" id="birth_year">
    <br/>

    <input type="submit" value="Добавить книгу">
</form>
<form th:action="@{/books}">
    <input type="submit" value="В начало">
</form>
</body>
</html>