<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книги не найдены!</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}" th:object="${book}">
    <label for="full_name">Введите несколько первых букв: </label>
    <input type="text" th:field="*{bookName}" id="full_name"/>
    <br/>
    <input type="submit" value="Найти!"/>
</form>
<form th:action="@{/books}">
    <input type="submit" value="В начало">
</form>
<p>Книги не найдены :(</p>
</body>
</html>