<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getAuthor()+', '+ book.getTitle() + ', ' + book.getYear()}">person</p>
<p th:text="'Книга занята человеком: ' + ${book.getPerson().getFull_name()}">smth</p>
<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Изменить книгу">
</form>
<hr/>
<div style="display: flex;">
    <form th:method="POST" th:action="@{/books/{id}/delete(id=${book.getId()})}" th:object="${book}">
        <input type="submit" value="Удалить книгу">
    </form>
    <form th:method="POST" th:action="@{/books/{id}/release(id=${book.getId()})}" th:object="${book}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
<form th:action="@{/books}">
    <input type="submit" value="В начало">
</form>
</body>
</html>