<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getAuthor()+', '+ book.getTitle() + ', ' + book.getYear()}">person</p>
<p th:text="'Книга свободна'"></p>
<form th:method="POST" th:action="@{/books/{id}/link(id=${book.getId()})}" th:object="${book}">
    <label for="link" >Введите id человека: </label>
    <input type="text" th:field="*{personId}" id="link">
    <input type="submit" value="Дать книгу!">
</form>
<hr/>
<div style="display: flex;">
    <form th:method="POST" th:action="@{/books/{id}/delete(id=${book.getId()})}" th:object="${book}">
        <input type="submit" value="Удалить книгу">
    </form>
    <form th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Изменить книгу">
    </form>
</div>
<form th:action="@{/books}">
    <input type="submit" value="В начало">
</form>
</body>
</html>