<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/addPersonPost}" th:object="${person}">
    <label for="name">Enter your full name:</label>
    <input type="text" th:field="*{full_name}" id="name">
    <br/>
    <label for="birth_year">Enter your birth year:</label>
    <input type="text" th:field="*{birth_year}" id="birth_year">
    <br/>
    <input type="submit" value="Add Person">
</form>
</body>
</html>