<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="full_name">Edit book name: </label>
    <input type="text" th:field="*{title}" id="full_name"/>
    <br/>
    <label for="author">Enter author:</label>
    <input type="text" th:field="*{author}" id="author">
    <br/>
    <label for="birth_year">Edit year of creation: </label>
    <input type="text" th:field="*{year}" id="birth_year"/>
    <br/>
    <input type="submit" value="Edit!"/>
</form>

</body>
</html>