<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getAuthor()+', '+ book.getTitle() + ', ' + book.getYear()}">person</p>
<p th:text="'Book is free: '"></p>
<form th:method="POST" th:action="@{/books/{id}/link(id=${book.getId()})}" th:object="${book}">
    <label for="link" >Enter person id: </label>
    <input type="text" th:field="*{person_id}" id="link">
    <input type="submit" value="Link">
</form>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit Book</a>
<hr/>
<form th:method="POST" th:action="@{/books/{id}/delete(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Delete Book">
</form>
</body>
</html>